APP_NAME = {{ gitea.site_name }}
RUN_USER = git
RUN_MODE = prod

[database]
DB_TYPE  = postgres
HOST     = 127.0.0.1:{{ postgres.port }}
NAME     = git
USER     = git
PASSWD   = {{ secret.postgres.gitea_password }}
SCHEMA   =
SSL_MODE = disable
CHARSET  = utf8
PATH     = {{ gitea.data_path }}/data/gitea.db
LOG_SQL  = false

[repository]
ROOT = {{ gitea.data_path }}/data/gitea-repositories

[server]
SSH_DOMAIN       = localhost
DOMAIN           = localhost
HTTP_PORT        = {{ gitea.port }}
ROOT_URL         = {{ gitea.url }}
DISABLE_SSH      = false
SSH_PORT         = 22
LFS_START_SERVER = true
LFS_JWT_SECRET   = {{ gitea_LFS_JWT_SECRET.stdout }}
OFFLINE_MODE     = false

[lfs]
PATH = {{ gitea.data_path }}/data/lfs

[mailer]
ENABLED = false

[service]
REGISTER_EMAIL_CONFIRM            = false
ENABLE_NOTIFY_MAIL                = false
DISABLE_REGISTRATION              = true
ALLOW_ONLY_EXTERNAL_REGISTRATION  = false
ENABLE_CAPTCHA                    = false
REQUIRE_SIGNIN_VIEW               = false
DEFAULT_KEEP_EMAIL_PRIVATE        = true
DEFAULT_ALLOW_CREATE_ORGANIZATION = true
DEFAULT_ENABLE_TIMETRACKING       = true
NO_REPLY_ADDRESS                  = noreply.localhost

[openid]
ENABLE_OPENID_SIGNIN = true
ENABLE_OPENID_SIGNUP = false

[cron.update_checker]
ENABED = false

[session]
PROVIDER = file

[log]
MODE      = console
LEVEL     = info
ROOT_PATH = {{ gitea.data_path }}/log

[repository.pull-request]
DEFAULT_MERGE_STYLE = merge

[repository.signing]
DEFAULT_TRUST_MODEL = committer

[security]
INSTALL_LOCK       = true
INTERNAL_TOKEN     = {{ gitea_INTERNAL_TOKEN.stdout }}
PASSWORD_HASH_ALGO = pbkdf2_hi

[oauth2]
JWT_SECRET = {{ gitea_JWT_SECRET.stdout }}